<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8"/>
    <title>GoBong</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#6B58A7">
    <link href="favicon.png" rel="shortcut icon">
    <!--<meta name="naver-site-verification" content="5a3760839632bf2accaa65c28ee953451801fbbc"/>
    <meta name="description" content="콘서트예매, MD상품을 손쉽게 구매하는 종합몰">
    <meta name="keywords" content="KSTAR, 케이스타, 블록체인, 암호화폐 결제">
    <meta name="author" content="KSTAR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="KSTAR">
    <meta property="og:description" content="KSTAR">
    <meta property="og:url" content="https://www.kstar.tv">
    <link rel="canonical" href="https://www.kstar.tv">-->
    <link rel="stylesheet" href="resources/style/vendor/swiper.css"/>
    <link rel="stylesheet" href="resources/style/vendor/bootstrap.css"/>
    <link rel="stylesheet" href="resources/style/new_index.css"/>
    <script type="text/javascript" src="resources/js/vendor/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="resources/js/vendor/swiper.js"></script>
</head>
<body>
<div class="port-top__wrap">
    <section class="port__wrap">
        <a href="javascript:void(0)" class="top__btn" @click="moveTop"></a>

        <!-- HEADER -->
        <header class="portfolio__hd">
            <div class="container">
                <h1 class="port-logo">
                    <img src="resources/images/my_logo_1.png" alt="로고"/>
                </h1>
                <ul class="port-top__nav">
                    <li class="port-top__li font-sm">HOME</li>
                    <li class="port-top__li font-sm">ABOUT</li>
                    <li class="port-top__li font-sm">WORKS</li>
                    <li class="port-top__li font-sm">CONTACT</li>
                </ul>
                <button class="port-menu__btn"></button>
            </div>
        </header>

        <div class="port-home__dimmer fadeout"></div>

        <!-- HOME -->
        <article class="port-home container">
            <div class="port-home__txt">
                <h2 class="port-home__title">
                    PORTFOLIO
                </h2>
                <p class="port-home__sub font-lg">
                    Web Publisher BongHoon Ko
                </p>
            </div>
            <div class="home-back"></div>
        </article>

        <!-- CONTENTS -->
        <article class="portfolio__body">

            <!-- ABOUT -->
            <section class="port-about container">
                <!-- Ability -->
                <article class="port-about__box port-ability port-content">
                    <h3 class="port-con__title font-gt">ABOUT</h3>
                    <span class="port-con__sub font-xs">- ABILITY -</span>
                    <ul class="port-about__list row">
                        <li class="port-about__li col-sm-4" v-for="item in abilityList">
                            <img class="port-about__img" :src="'resources/images/'+ item.abImg"/>
                            <p class="port-about__title font-md">{{item.abTitle}}</p>
                            <p class="port-about__txt font-xs">{{item.abTxt}}</p>
                        </li>
                    </ul>
                </article>

                <!-- Profile -->
                <article class="port-about__box port-profile row port-content">
                    <span class="port-con__sub font-xs">- PROFILE -</span>
                    <div class="port-profile__box col-lg-8 col-xs-12 col-lg-offset-2">
                        <img class="port-profile__img" src="resources/images/gobong.jpg"/>
                        <div class="profile-list__wrap">
                            <!-- 기본정보 -->
                            <sub class="profile-list__subject font-sm">기본정보</sub>
                            <ul class="port-profile__list">
                                <li class="port-profile__li" v-for="item in basicInfo">
                                    <em class="profile-list__title font-xs">{{item.basicTitle}}</em>
                                    <p class="profile-list__txt font-xs">{{item.basicTxt}}</p>
                                </li>
                            </ul>

                            <!-- 교육 & 경력사항 -->
                            <sub class="profile-list__subject font-sm">교육 & 경력사항</sub>
                            <ul class="port-profile__list">
                                <li class="port-profile__li" v-for="item in careerList">
                                    <em class="profile-list__title font-xs" v-html="item.datetime">2009. 02</em>
                                    <p class="profile-list__txt font-xs">{{item.text}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <!-- Skill -->
                <article class="port-about__box port-skill row port-content">
                    <span class="port-con__sub font-xs">- SKILL -</span>
                    <ul class="profile-skill__list">
                        <li class="profile-skill__li col-md-4" v-for="item in skillList">
                            <div class="c100 small" :class="'p'+item.skillGauge">
                                <span>{{item.skillGauge}}%</span>
                                <div class="slice">
                                    <div class="bar" :style="'border-color:'+item.borderColor"></div>
                                    <div class="fill" :style="'border-color:'+item.borderColor"></div>
                                </div>
                            </div>
                            <p class="profile-skill__title font-md">{{item.skillName}}</p>
                            <p class="profile-skill__txt font-xs">{{item.skillTxt}}</p>
                        </li>
                    </ul>
                </article>
            </section>

            <!-- WORKS -->
            <section class="port-works container port-content">
                <h3 class="port-con__title font-gt">WORKS</h3>
                <span class="port-con__sub font-xs">- Website Works -</span>
                <nav class="port-works__list row">
                    <a href="#" class="port-works__a col-md-4" v-for="item in workList">
                        <img class="port-works__img" :src="'resources/images/'+item.conImg" :alt="item.conAlt"/>
                        <h4 class="port-works__title font-md">{{item.conTitle}}</h4>
                        <p class="port-works__txt font-xs">{{item.conSubTitle}}</p>
                    </a>
                </nav>
            </section>

            <!-- CONTACT -->
            <section class="port-contact container port-content">
                <h3 class="port-con__title font-gt">CONTACT</h3>
                <span class="port-con__sub font-xs">- How To Contact -</span>
                <ul class="port-contact__list row">
                    <li class="port-contact__li col-md-2 col-md-offset-3 col-xs-4">
                        <img src="resources/images/ico-phone.png"/>
                        <p class="port-contact__txt font-xs">010-3303-9838</p>
                    </li>
                    <li class="port-contact__li col-md-2 col-xs-4">
                        <img src="resources/images/ico-mail.png"/>
                        <p class="port-contact__txt font-xs">fotrise@naver.com</p>
                    </li>
                    <li class="port-contact__li col-md-2 col-xs-4">
                        <img src="resources/images/ico-kakao.png"/>
                        <p class="port-contact__txt font-xs">GoBong9838</p>
                    </li>
                </ul>
                <article class="port-contact__wrap row">
                    <div class="col-md-6 col-md-offset-3">
                        <form class="port-contact__form" method="post" action="submit.php">
                            <input class="font-xs" type="text" name="name" placeholder="이름 or 회사명" autocomplete="off"/>
                            <input class="font-xs" type="text" name="contact" placeholder="연락처" autocomplete="off"/>
                            <textarea class="font-xs" name="msg"></textarea>
                            <button class="port-contact__btn font-xs" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </article>
            </section>
        </article>

        <!-- FOOTER -->
        <footer class="portfolio__ft font-xs">
            2019 Bong-Hoon Ko. all rights reserved.
        </footer>
    </section>
</div>
</body>
<script src="resources/js/vendor/vue.js"></script>
<script type="text/javascript" src="resources/js/pages/index_new.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</html>