
$black: #4f4f4f;
$white: #ffffff;
$back-color: #fdfdfd;
$highlight-color: #1e6dfe;



//폰트
$korea: 'Noto Sans KR', sans-serif;
$china: 'cwTeXHei', 'Noto Sans SC',  sans-serif;
$roboto: 'Roboto', sans-serif;
$nanumS: 'NanumSquare', sans-serif;