
$black: #333333;
$white: #ffffff;
$main-color: #013a68;
$back-color: #02020b;


//폰트
$korea: 'Noto Sans KR', sans-serif;
$china: 'cwTeXHei', 'Noto Sans SC',  sans-serif;
$roboto: 'Roboto', sans-serif;
$nanumS: 'NanumSquare', sans-serif;

//break point
$breakpoints: (
  '1250': (max-width: 1250px),
  '1000': (max-width: 1000px),
  '980': (max-width: 980px),
  '900': (max-width: 900px),
  '765': (max-width: 765px),
  '700': (max-width: 700px),
  '600': (max-width: 600px),
  '500': (max-width: 500px),
  '450': (max-width: 450px),
  '400': (max-width: 400px),
  '350': (max-width: 350px),
) !default;

/*
Scss 에서 사용법
@include respond-to('500') {
  color: blue;
}
*/

//자주사용하는 변수
$nor: no-repeat; //background-repeat: no-repeat;
$center: 50% 50%; //background-position: 50% 50%;
