.details__wrap {
  // header
  .details__hd {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #1c1c27;
    position: fixed;
    top: 0;
    left: 0;
    a {
      display: block;
      padding: 2rem 0;
      width: 100%;
      color: $white;
      font-size: 1.25rem;
      @include respond-to('400') {
        padding: 1rem 0;
      }
    }
  }

  // Content
  .details-content {
    background-color: $back-color;
    width: 100%;
    overflow: hidden;
    padding-top: 12rem;
    padding-bottom: 7rem;
    text-align: center;
    @include respond-to('400') {
      padding: 6rem 0;
    }
    .title {
      .inherit__txt {
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
        letter-spacing: 0.1em;
      }
    }
    .details__txt {
      font-size: 1rem;
      color: $white;
      letter-spacing: -0.025em;
      text-align: center;
      margin: 1.3rem auto 3.3rem auto;
      opacity: 0.8;
      max-width: 900px;
      line-height: 1.7em;
    }
    .details__img {
      width: 1024px;
      &.full {
        width: 100%;
        &.mobile {
          margin-top: 10rem;
        }
      }
    }
  }
}