@keyframes box-hidden {
  from {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.test-img {
  width: 200px;
  height: 200px;
  background-color: #1f1f1f;
  margin: 0 auto;
}

.test-img-1 {
  width: 100%;
  height: 246.656px;
  background-color: #1f1f1f;
}

.test-list {
  width: 40px;
  height: 40px;
  float: left;
  background-color: #383838;
  background-size: cover;
  background-repeat: no-repeat;
}

/* index 시작 */
.portfolio__wrap {
  width: 100%;
  height: 100%;

  .box-hidden {
    opacity: 0;
    animation-name: none;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @include transition(350);
  }

  // 헤더
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    z-index: 999;
    @include transition(200);
    &.scrolling {
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom: 2px solid rgba(220, 220, 220, 0.1);
    }
    .logo {
      float: left;
      width: 50px;
    }
    ul {
      float: right;
      @media all and (max-width: 992px) {
        display: none;
      }
      li {
        color: $white;
        font-size: 1.125rem;
        float: left;
        margin-right: 60px;
        line-height: 50px;
        cursor: pointer;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .main-top {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .main__title {
    }
    .main__txt {
      color: $white;
      position: absolute;
      top: 50%;
      left: 20%;
      z-index: 100;
      @include y-translate;
      @media all and (max-width: 992px) {
        top: 45%;
        left: 0;
        width: 100%;
      }
      .my-name {
        font-size: 6rem;
        text-shadow: 7px 7px 10px rgba(0,0,0,0.3);
        @media all and (max-width: 992px) {
          font-size: 4rem;
          text-align: center;
        }
        @media all and (max-width: 450px) {
          font-size: 3rem;
          br {
            display: none;
          }
        }
        b {
          color: $white;
          font-size: 3rem;
          opacity: 0.45;
        }
      }
      .my-position {
        font-size: 2rem;
        @media all and (max-width: 992px) {
          font-size: 1.85rem;
          text-align: center;
        }
        @media all and (max-width: 450px) {
          font-size: 1.5rem;
        }
      }
      .my-line {
        margin: 1rem 0;
        @media all and (max-width: 450px) {
          display: none;
        }
        span {
          display: block;
          width: 5rem;
          height: 3px;
          background-color: #fb3260;
          &:first-of-type {
            margin-bottom: 0.5rem;
          }
          &:last-of-type {
            margin-left: 2.5rem;
          }
        }
      }
    }

    // 메인 배경이미지
    .back-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .back {
        width: 100%;
        height: 100%;
        position: relative;
        .cover {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
        }
        .back_1 {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: cover;
          @media all and (max-width: 992px) {
            background-position: center bottom 20px;
            background-size: contain;

            &.all-back {
              background-position: center bottom !important;
              background-size: 135%;
            }
          }
        }
      }
    }
  }

  //메인 컨텐츠
  .main-content {
    width: 100%;
    padding: 30px 0;
    padding-top: 50px;
    background-color: $back-color;
    overflow: hidden;
    @media all and (max-width: 992px) {
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }

    & > .container {
      margin-bottom: 120px;
      @media all and (max-width: 992px) {
        margin-bottom: 60px;
      }
      & > .row:not(:only-of-type) {
        margin-bottom: 120px;
      }
    }
  }

  .con-title {
    color: #fafafa;
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    max-width: 100%;
    @include text-overflow;
  }
  .con-txt {
    opacity: 0.7;
    color: #fafafa;
    font-size: 0.875rem;
    margin: 0 auto;
  }

  // ABOUT
  .about-me {
    text-align: center;
    .ability__title {
    }
    .ability__txt {
      width: 80%;
      @media all and (max-width: 992px) {
        margin-bottom: 60px;
      }
    }
    .ability {
      .ability-box {
        &:last-of-type {
          .ability__txt {
            margin-bottom: 0;
          }
        }
      }
      .icon_svg {
        stroke-dasharray: 790px;
        stroke-dashoffset: 790px;
        animation-name: none;
        animation-duration: 3.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      @keyframes offset {
        to {
          stroke-dashoffset: 0;
        }
      }

      .ability__img {
        width: 45%;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .profiles {
    .sub-title {
      margin-bottom: 0;
    }
    .profile {
      .skill-box {
        width: 900px;
        margin: 0 auto;
        position: relative;
        background-color: #232323;
        box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
        margin-top: 150px;
        padding: 30px 15px 30px 380px;
        @include clearfix;
        @media all and (max-width: 992px) {
          width: calc(100% - 30px);
          padding: 380px 15px 30px 15px;
          margin-top: 100px;
        }
        @media all and (max-width: 450px) {
          padding-top: 280px;
        }
        .photo-box {
          width: 400px;
          height: 400px;
          background-color: #454545;
          position: absolute;
          top: -70px;
          left: -80px;
          background-image: url('../../resources/images/gobong.jpg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
          @media all and (max-width: 992px) {
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
          }
          @media all and (max-width: 450px) {
            width: 300px;
            height: 300px;
          }
        }
        .txt-box {
          @include clearfix;
          @media all and (max-width: 992px) {
          }
        }
        .box-title {
          text-align: left;
          color: $white;
          clear: both;
        }
        ul {
          text-align: left;
          float: left;
          li {
            font-size: 0.9rem;
            font-weight: 300;
            color: $white;
            opacity: 0.9;
            line-height: 2.15;
            span {
              display: inline-block;
            }
          }
          &.career-list {
            margin: 0 0 20px 30px;
          }
          &.skill-list {
            li {
              float: left;
              margin-right: 40px;
              margin-bottom: 15px;
              @media all and (max-width: 992px) {
                width: 100%;
              }
              .skill-txt {
                width: calc(100% - 55px);
                float: left;
                margin-left: 15px;
                .skill-gage {
                  display: block;
                  width: 150px;
                  height: 3px;
                  position: relative;
                  background-color: #dfdfdf;
                  @media all and (max-width: 992px) {
                    width: 100%;
                  }
                  .skill-gage__inner {
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #2e6da4;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // WORKS
  .works {
    .website-work {
      .work-list {
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        @include transition(200);
        img {
          @include transition(200);
        }
        &:nth-child(2n+1) {
          clear: both;
        }
        .work-list-dimmer {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 3;
          .dimmer-txt {
            width: 0;
            overflow: hidden;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 0;
            @include y-translate;
            span {
              color: $white;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  // CONTACT
  .contact {
    margin-bottom: 30px;
    .form-wrap {
      form {
        text-align: center;
        input, textarea {
          width: 900px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          outline: none;
          border: none;
          @media all and (max-width: 992px) {
            width: 100%;
          }
        }
        input {
          height: 50px;
          margin-bottom: 15px;
          padding: 0 20px;
          background-color: rgba(255,255,255,0.9);
        }
        textarea {
          display: block;
          height: 350px;
          padding: 20px;
          margin: 0 auto;
          margin-bottom: 15px;
          background-color: rgba(255,255,255,0.9);
          @media all and (max-width: 992px) {
            height: 250px;
          }
        }
        .submit__btn {
          color: $white;
          padding: 10px 30px 8px 30px;
          background-color: $main-color;
          border-radius: 5px;
          @include transition(300);
          &:hover {
            color: $main-color;
            background-color: $white;
            @include transition(300);
          }
        }
      }
    }
  }
}