/* 포트폴리오 리뉴얼 시작 */

// Top Wrapping Box
.port-top__wrap {
  width: 100%;
  height: 100%;
  background-color: $back-color;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Wrapping Box
.port__wrap {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @media all and (min-width: 1600px) {
    width: 1600px;
  }
}

.top__btn {
  width: 60px;
  height: 60px;
  background-image: url('../../resources/images/btn-top.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  z-index: 50;
  /*@media all and (max-width: 768px) {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
  }*/
  @include respond-to(768) {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
  }
}

// 모바일 네비
.port-mobile__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition-duration: 0.3s;

  .port-mobile__btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-image: url('../../resources/images/ico-close-wh.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .port-mobile__list {
    width: 100%;
    text-align: center;

    li {
      color: $white;
      padding: 15px 0;
      cursor: pointer;
    }
  }

  &.active {
    top: 0;
    transition-duration: 0.3s;
  }
}

// 헤더
.portfolio__hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition-duration: 0.5s;
  @include clearfix;

  &.scrolling {
    background-color: rgba(255, 255, 255, 0.75);
    transition-duration: 0.5s;
  }

  .container {
    padding: 0;
  }

  // 헤더 - 로고
  .port-logo {
    float: left;
    padding: 15px;
    @include respond-to(768) {
      padding: 7.5px 15px;
    }

    img {
      height: 50px;
      @include respond-to(768) {
        height: 35px;
      }
    }
  }

  // Top 네비
  .port-top__nav {
    float: right;
    padding-right: 15px;
    @include clearfix;
    @include respond-to(991) {
      padding: 0;
    }
    @include respond-to(768) {
      display: none;
    }

    .port-top__li {
      line-height: 50px;
      float: left;
      font-weight: normal;
      cursor: pointer;
      color: $black;

      &:not(:last-of-type) {
        margin-right: 50px;
      }
    }
  }

  .port-menu__btn {
    width: 39px;
    height: 39px;
    background-image: url('../../resources/images/ico-menu-2.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding: 7.5px 15px;
    float: right;
    display: none;
    box-sizing: content-box;
    @include respond-to(768) {
      display: block;
    }
  }
}

.port-home__dimmer {
  width: 100%;
  height: 100%;
  background-color: $back-color;
  animation-delay: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  @include animationDefault(1.0);
}

// HOME
.port-home {
  height: 100%;
  max-height: 1080px;
  padding-top: 80px;
  margin-bottom: 120px;
  background-image: url('../../resources/images/gobong-1.png');
  background-position: right bottom;
  background-size: 630px;
  background-repeat: no-repeat;
  position: relative;
  transition-duration: 0.5s;
  animation-name: backImg;
  animation-delay: 0.5s;
  @include animationDefault(0.8);
  @media all and (max-height: 900px) {
    background-size: 530px;
  }
  @media all and (max-height: 800px) {
    height: 800px;
  }
  @include respond-to(991) {
    background-size: 500px;
  }
  @include respond-to(768) {
    background-size: 60%;
    background-position: right bottom;
    height: 620px;
  }
  @include respond-to(500) {
    background-size: 300px;
  }
  @include respond-to(320) {
    background-size: 270px;
  }

  .port-home__sub,
  .port-home__title {
    animation-name: upAnimation;
    @include animationDefault(0.8);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }

  .port-home__txt {
    position: absolute;
    top: 30%;
    left: 30px;
    z-index: 2;
    @include respond-to(991) {
      top: 22.5%;
    }
    @include respond-to(768) {
      top: 18%;
      left: 15px;
    }
  }

  .port-home__title {
    font-size: 80px;
    font-weight: 800;
    line-height: 1em;
    @include respond-to(768) {
      font-size: 50px;
    }
  }

  .port-home__sub {
    font-weight: 800;
    text-indent: 5px;
    animation-delay: 0.2s;
  }

  .home-back {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: linear-gradient(transparent, $back-color);
  }
}

// 컨텐츠
.portfolio__body {
  width: 100%;

  .port-con__title {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.25em;

    &::after {
      content: "";
      width: 15px;
      height: 3px;
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      background-color: $highlight-color;
    }
  }

  .port-con__sub {
    display: block;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.25em;
  }

  .port-about,
  .port-works {
    margin-bottom: 150px;
    @include respond-to(768) {
      margin-bottom: 75px;
    }
  }

  // ABOUT
  .port-about {
    .port-about__list {
    }

    .port-about__li {
      text-align: center;
      @include respond-to(768) {
        margin-bottom: 45px;
      }

      .port-about__img {
        width: 50%;
        max-width: 200px;
        margin-bottom: 20px;
        opacity: 0.9;
      }

      .port-about__title {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .port-about__txt {
        font-weight: normal;
        letter-spacing: -0.025em;
        line-height: 1.65;
        max-width: 80%;
        margin: 0 auto;
        @include respond-to(991) {
          max-width: 100%;
        }
        @include respond-to(768) {
          max-width: 85%;
        }
      }
    }

    .port-about__box {
      &.port-ability,
      &.port-profile {
        margin-bottom: 120px;
        @include respond-to(768) {
          margin-bottom: 60px;
        }
      }

      .port-profile__box {
        background-color: #fafafa;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
        padding: 30px;
        @include clearfix;
        @include respond-to(768) {
          width: calc(100% - 30px);
          margin-left: 15px;
          padding: 15px;
        }

        .port-profile__img {
          width: 300px;
          float: left;
          @include respond-to(991) {
            float: none;
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
          }
        }

        .profile-list__wrap {
          width: calc(100% - 300px);
          float: left;
          padding-left: 50px;
          padding-top: 20px;
          @include respond-to(991) {
            width: 100%;
            float: none;
            padding: 0;
          }
        }

        .profile-list__subject {
          display: block;
          font-weight: bold;
          margin-bottom: 15px;
          position: static;
          line-height: 1;
        }

        .port-profile__list {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        .port-profile__li {
          width: 100%;
          margin-bottom: 7px;
          @include clearfix;

          .profile-list__title,
          .profile-list__txt {
            font-weight: normal;
            margin: 0;
            vertical-align: top;
          }

          .profile-list__title {
            display: inline-block;
            width: 100px;
            font-style: normal;
            @include respond-to(480) {
              width: 25%;
            }
          }

          .profile-list__txt {
            display: inline-block;
            @include respond-to(480) {
              width: 70%;
            }
          }
        }
      }

      .profile-skill__li {
        text-align: center;
        margin-bottom: 50px;
        opacity: 0;
        @include animationDefault(1.5);

        &:nth-of-type(3n+1) {
          clear: both;
        }

        .c100 {
          float: none;
          margin: 0 auto;

          span {
            color: $black;
          }
        }
      }

      .profile-skill__title {
        font-weight: bold;
        margin-top: 10px;
      }

      .profile-skill__txt {
        width: 80%;
        margin: 0 auto;
        font-weight: normal;
        letter-spacing: -0.025em;
        line-height: 1.65;
      }
    }
  }

  // WORKS
  .port-works {
    .port-works__list {
    }

    .port-works__a {
      color: $black;
      margin-bottom: 30px;
      display: block;

      &:hover {
        .port-works__img {
          opacity: 0.75;
          transition-duration: 0.3s;
        }
      }

      .port-works__img {
        border: 1px solid #efefef;
        transition-duration: 0.3s;
      }

      .port-works__title {
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .port-works__txt {
        font-weight: normal;
        letter-spacing: -0.025em;
        line-height: 1.65;
      }
    }
  }

  // CONTACT
  .port-contact {
    text-align: center;
    margin-bottom: 30px;

    .port-contact__list {
      margin-bottom: 15px;
      @include clearfix;
    }

    .port-contact__li {
      text-align: center;
      @include respond-to(320) {
        padding: 0 5px;
      }

      img {
        height: 35px;
        margin-bottom: 10px;
      }

      .port-contact__txt {
        font-weight: normal;
        letter-spacing: -0.025em;
      }
    }

    .port-contact__wrap {
      input, textarea {
        width: 100%;
        display: block;
        padding: 15px;
        margin-bottom: 10px;
        font-weight: normal;
        letter-spacing: -0.025em;
        line-height: 1.65;
        border: 1px solid #aeaeae;
        @include respond-to(768) {
          padding: 10px;
        }
      }

      textarea {
        height: 300px;
        resize: none;
      }

      .port-contact__btn {
        border: 1px solid #aeaeae;
        padding: 3px 10px;
      }
    }
  }
}

// Works 상세 팝업
.port-detail__popup {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &.active {
    .port-detail__content {
      transition-duration: 0.5s;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .port-detail__dimmer {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .port-detail__content {
    width: calc(100% - 30px);
    max-width: 1200px;
    height: 90%;
    overflow-y: auto;
    padding-top: 110px;
    background-color: $back-color;
    transition-duration: 0.5s;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      display: block;
      height: 30px;
    }
    @include respond-to(991) {
      padding-top: 30px;
    }

    .detail-close__btn {
      width: 35px;
      height: 35px;
      background-image: url('../../resources/images/ico-close.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      right: 15px;
      @include respond-to(768) {
        width: 20px;
        height: 20px;
      }
    }

    .port-detail__top {
      width: 100%;
      height: 500px;
      padding: 0 50px;
      /*background-image: url('../../resources/images/opus-top.png');*/
      background-repeat: no-repeat;
      background-position: right -90px top -35px;
      background-size: 800px;
      margin-bottom: 35px;
      @include respond-to(1200) {
        background-size: 650px;
      }
      @include respond-to(1050) {
        background-size: 550px;
        background-position: right -90px top;
      }
      @include respond-to(991) {
        background-image: none !important;
        height: auto;
        text-align: center;
        margin-bottom: 70px;
        padding: 0 30px;
      }
      @include respond-to(450) {
        padding: 0 15px;
      }

      .detail-top__img {
        display: none;
        width: 80%;
        margin: 0 auto;
        @include respond-to(991) {
          display: block;
        }
      }

      .detail-top__title {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 30px;
        padding-top: 8px;
        letter-spacing: -0.025em;

        &::after {
          content: "";
          width: 30px;
          height: 3px;
          display: block;
          margin-top: 5px;
          margin-left: 3px;
          background-color: $highlight-color;
          @include respond-to(450) {
            margin-left: auto;
            margin-right: auto;
            width: 15px;
          }
        }

        @include respond-to(450) {
          font-size: 38px;
          margin-bottom: 20px;
        }
      }

      .detail-top__txt {
        letter-spacing: -0.025em;
        margin-bottom: 35px;
        max-width: 450px;
        line-height: 1.65;
        @include respond-to(991) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .detail-top__date {
        display: block;
        margin-top: 5px;
      }

      .detail-top__a {
        display: block;
        width: 150px;
        height: 50px;
        line-height: 50px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #1b3389;
        color: $white;
        text-align: center;
        @include respond-to(991) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .port-detail__body {
      width: 100%;
      padding: 0 50px;
      @include respond-to(991) {
        padding: 0 30px;
      }
      @include respond-to(450) {
        padding: 0 15px;
      }

      .detail-info__list {
        width: 750px;
        margin: 0 auto;
        margin-bottom: 10px;
        @include clearfix;
        @include respond-to(991) {
          width: 100%;
        }
      }

      .detail-info__li {
        width: 33.333%;
        float: left;
        padding: 0 15px;
        @include respond-to(450) {
          padding: 0 5px;
        }

        .detail-info__title {
          font-weight: 900;
          border-bottom: 3px solid $black;
          padding: 5px 0;
        }

        .detail-info__txt {
        }
      }

      .detail-info {
        width: 750px;
        margin: 0 auto;
        padding: 0 15px;
        line-height: 1.65;
        margin-bottom: 100px;
        @include respond-to(991) {
          width: 85%;
          margin-left: 0;
          margin-right: 0;
        }
        @include respond-to(768) {
          margin-bottom: 50px;
        }
        @include respond-to(450) {
          width: 100%;
          padding: 0 5px;
        }
      }

      .detail-mobile__img {
        margin-bottom: 20px;
      }

      .detail-font__img {
        display: block;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 20px;
        @include respond-to(768) {
          width: 100%;
        }
      }

      .detail-bottom__img {
        display: block;
        margin: 0 auto;
        box-shadow: 0 0 30px rgba(0,0,0,0.35);
      }

    }
  }
}


// 푸터
.portfolio__ft {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}