//utils
@import "utils/_mixin";
@import "utils/_var";
// base
@import "base/font.css";
@import "base/_reset";


@keyframes listPop {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonUp {
  from {
    bottom: -150%;
  }
  to {
    bottom: 0;
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $white;
}

.dimmer,
.top-dimmer {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.top-dimmer {
  z-index: 1000;
}

.user-input {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);

  .user-input__wrap {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    .user-input__txt {
      color: $white;
      font-size: 1.15rem;
      font-weight: bold;
      letter-spacing: -0.025em;
      text-align: center;
      margin-bottom: 1rem;
    }

    .user-input__alert {
      color: red;
      font-size: 0.85rem;
      font-weight: normal;
      letter-spacing: -0.025em;
      text-align: center;
      margin-bottom: 0.75rem;
    }

    .user-input__btn {
      display: block;
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      color: $white;
      font-size: 1.25rem;
      letter-spacing: -0.05em;
      font-weight: normal;
      background-color: #2761dc;
      margin: 0 auto;
    }

    .user-input__input {
      width: 100%;
      font-size: 1.2rem;
      color: $black;
      letter-spacing: -0.05em;
      font-weight: normal;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
      margin-bottom: 0.75rem;
      background-color: #efefef;
      outline: 0;
      border: 1px solid #aeaeae;
    }
  }
}

/* TEST LIST 시작 */
.my-list__wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-width: 1080px;
  background-color: #b5e3e5;
  margin: 0 auto;
  padding-top: 6.575rem;
  transition-duration: 0.3s;

  &.no-scrolling {
    overflow: hidden;
  }

  &::after {
    content: '';
    display: block;
    height: 5rem;
    width: 100%;
  }

  .sidemenu__dimmer {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transition-duration: 0.3s;

    &.active {
      display: block;
      transition-duration: 0.3s;
    }
  }

  .my-list__sidemenu {
    width: 65%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -65%;
    z-index: 41;
    background-color: $white;
    padding: 2rem 1rem;
    transition-duration: 0.3s;

    &.active {
      left: 0;
      transition-duration: 0.3s;
    }

    .user-box {
      margin-bottom: 5rem;
    }

    .color-box {
      .theme-color {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }

  /* Header */
  .my-list__hd {
    width: 100%;
    max-width: 1080px;
    position: fixed;
    top: 0;
    left: 50%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: $white;
    z-index: 11;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    @include clearfix;

    .list-menu__btn {
      height: 4.35rem;
      cursor: pointer;
    }

    .list-refresh__btn {
      float: right;
      height: 4.35rem;
      cursor: pointer;
    }

    .my-list__title {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: -0.01em;
      color: $black;
      position: absolute;
      line-height: 4.35rem;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  /* Body Content */
  .my-list__body {
    width: 100%;
    padding: 0 1rem;
    @include clearfix;

    .my-list__list {
      width: 100%;
      @include clearfix;

      .my-list__li {
        width: 100%;
        /*height: 6rem;*/
        margin-bottom: 2.3rem;
        box-shadow: 5px 5px 3rem rgba(0, 0, 0, 0.15);
        border-top-right-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        overflow-y: hidden;
        transition-duration: 0.5s;
        background-color: $white;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;

        &.list-animation {
          animation-name: listPop;
        }

        @include clearfix;

        .list-top {
          width: 100%;
          /* height: 6rem;*/
          padding: 1.7rem 1.7875rem;
          position: relative;
          background-image: url('../../resources/images/ico-down-1.png');
          background-size: 0.8rem;
          background-position: right 1.7875rem center;
          background-repeat: no-repeat;
          cursor: pointer;

          &.active {
            background-image: url('../../resources/images/ico-up-1.png');
          }

          .list__title {
            max-width: 90%;
            font-size: 1.5rem;
            color: $black;
            font-weight: normal;
            margin-bottom: 0.5rem;
          }

          .list__date {
            max-width: 90%;
            font-size: 1rem;
            color: $grey;
            font-weight: normal;
          }
        }

        .list-bottom {
          width: 100%;
          height: 0;
          overflow: hidden;

          &.active {
            height: auto;
            transition-duration: 0.5s;
          }
        }

        .list-content {
          padding: 1.75rem 1.7875rem;
          padding-bottom: 4rem;
          transition-duration: 0.2s;
          background-color: #f7f7f7;
          transition-duration: 0.5s;
          position: relative;
          min-height: 12rem;

          .list__txt {
            font-size: 1.2rem;
            color: $black;
            font-weight: normal;
            line-height: 1.5;
            white-space: pre-line;
          }

          .list-content__btns {
            position: absolute;
            bottom: 0.675rem;
            right: 0.7rem;

            .list-content__btn {
              width: 5.1rem;
              height: 2.3rem;
              color: #b9b9b9;
              font-size: 1rem;
              font-weight: normal;
              border: 1px solid #b9b9b9;
              background-color: $white;
              margin-left: 0.2rem;
            }
          }
        }

        .comment-box {
          width: 100%;
          padding: 0.7rem;
          @include clearfix;

          .comment__input {
            height: 2.3rem;
            padding: 0 1rem;
            width: 82%;
            float: left;
            font-size: 1rem;
            color: #b9b9b9;
            font-weight: normal;
            border: 1px solid #b9b9b9;
          }

          .comment__btn {
            width: 16%;
            margin-left: 2%;
            height: 2.3rem;
            display: block;
            float: left;
            font-size: 1rem;
            font-weight: normal;
            color: $black;
            background-color: $yellow;
          }

          .comment__form {
            width: 100%;
            padding-top: 1px;
            @include clearfix;
          }

          .comment-txt__box {
            width: 100%;
            padding: 0.7rem 1.1rem;

            &:not(:last-of-type) {
              border-bottom: 1px solid #efefef;
            }

            @include clearfix;
          }

          .comment__txt {
            width: 100%;
            color: $black;
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.4;
            white-space: pre-line;
            @include clearfix;
          }

          .comment__date {
            float: right;
            color: #b9b9b9;
            font-size: 0.8rem;
            font-weight: normal;
            margin-top: 0.25rem;
          }
        }
      }
    }
  }

  /* Footer */
  .my-list__ft {
    width: 100%;
    position: fixed;
    bottom: -100%;
    left: 50%;
    z-index: 10;
    max-width: 1080px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    animation-delay: 0.65s;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .my-list__btn {
      display: block;
      background-color: $yellow;
      width: 5.5rem;
      height: 5.5rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: 1rem;
      bottom: 2rem;
      box-shadow: 0.25rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
      background-image: url('../../resources/images/ico-plus.png');
      background-repeat: no-repeat;
      background-size: 1.75rem;
      background-position: center;
    }
  }

  /* Form */
  .list-form__wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;

    .my-list__form {
      width: 90%;
      max-width: 1080px;
      height: 75%;
      max-height: 75%;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 1.5rem 1rem;
      padding-top: 4rem;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

      .form-close__btn {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url('../../resources/images/ico-close.png');
        background-position: center;
        background-size: 1.25rem;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
      }

      .my-list__input {
        width: 100%;
        font-size: 1.2rem;
        color: $black;
        letter-spacing: -0.05em;
        font-weight: normal;
        height: 3rem;
        line-height: 3rem;
        padding: 0 1rem;
        margin-bottom: 0.75rem;
        background-color: #efefef;
        outline: 0;
        border: 1px solid #aeaeae;
      }

      .my-list__textarea {
        width: 100%;
        font-size: 1.2rem;
        color: $black;
        letter-spacing: -0.05em;
        font-weight: normal;
        line-height: 1.5;
        height: calc(100% - 12rem);
        background-color: #efefef;
        outline: 0;
        border: 1px solid #aeaeae;
        padding: 1rem;
      }

      .my-list__submit {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $white;
        font-size: 1.3rem;
        letter-spacing: -0.05em;
        font-weight: normal;
        background-color: #2761dc;
        width: 100%;
        height: 4rem;
        line-height: 4rem;
      }
    }
  }

  /* Delete Modal */
  .delete__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.7);

    input {
      width: 100%;
      font-size: 1.2rem;
      color: $black;
      letter-spacing: -0.05em;
      font-weight: normal;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
      margin-bottom: 0.75rem;
      background-color: #efefef;
      outline: 0;
      border: 1px solid #aeaeae;
    }

    .modal__wrap {
      width: 20rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10rem;
      margin-top: -3.5rem;

      button {
        display: block;
        float: left;
        width: 50%;
        height: 4rem;
        line-height: 4rem;
        color: $white;
        font-size: 1.25rem;
        letter-spacing: -0.05em;
        font-weight: normal;

        &.ok__btn {
          background-color: #2761dc;
        }

        &.no__btn {
          background-color: #aeaeae;
        }
      }
    }
  }
}