//utils
@import "utils/_mixin";
@import "utils/_var";
// base
@import "base/font.css";
@import "base/_reset";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $white;
}

.dimmer {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* TEST LIST 시작 */
.my-list__wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  max-width: 1080px;
  margin: 0 auto;
  &.no-scrolling {
    overflow: hidden;
  }
  &::after {
    content: '';
    display: block;
    height: 5rem;
    width: 100%;
  }

  /* Header */
  .my-list__hd {
    width: 100%;
    padding: 1.5rem 0;

    .my-list__title {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: -0.025em;
      color: $black;
    }
  }

  /* Body Content */
  .my-list__body {
    width: 100%;
    @include clearfix;

    .my-list__list {
      width: 100%;
      @include clearfix;

      .my-list__li {
        width: 100%;
        height: 6rem;
        margin-bottom: 1.5rem;
        box-shadow: 5px 5px 3rem rgba(0, 0, 0, 0.15);
        border-top-right-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        overflow-y: hidden;
        transition-duration: 0.5s;
        &.active {
          height: auto;
          transition-duration: 0.5s;
        }
        @include clearfix;

        .list-top {
          width: 100%;
          height: 6rem;
          padding: 1rem;
          padding-top: 1.75rem;
          padding-left: 1.3rem;
          position: relative;
          background-image: url('../../resources/images/ico-down-1.png');
          background-size: 0.8rem;
          background-position: right 1.5rem center;
          background-repeat: no-repeat;
          cursor: pointer;
          -webkit-tap-highlight-color: rgba(160, 160, 160, 0.1);

          .blue-line {
            width: 0.25rem;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #2761dc;
          }

          .list__title {
            max-width: 90%;
            font-size: 1.35rem;
            color: #4a566e;
            letter-spacing: -0.05em;
            font-weight: normal;
            @include text-overflow;
          }

          .list__date {
            max-width: 90%;
            font-size: 1rem;
            color: #aeaeae;
            letter-spacing: -0.05em;
            font-weight: normal;
            @include text-overflow;
          }
        }
        .list-content {
          padding: 1.5rem 1rem 1.5rem 1.3rem;
          transition-duration: 0.2s;
          .list__txt {
            font-size: 1.2rem;
            color: $black;
            letter-spacing: -0.05em;
            font-weight: normal;
            line-height: 1.5;
            white-space: pre-line;
          }
        }

        .delete-slide {
          background-color: #2761dc;
          background-image: url('../../resources/images/delete-256.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 2.5rem;
          height: 6rem;
          cursor: pointer;
        }
      }
    }
  }

  /* Footer */
  .my-list__ft {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    max-width: 1080px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    .my-list__btn {
      display: block;
      color: $white;
      font-size: 1.3rem;
      letter-spacing: -0.05em;
      font-weight: normal;
      background-color: #2761dc;
      width: 100%;
      height: 4rem;
      line-height: 4rem;
    }
  }

  /* Form */
  .list-form__wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 100;
    .my-list__form {
      width: 90%;
      max-width: 1080px;
      height: 75%;
      max-height: 75%;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 1.5rem 1rem;
      padding-top: 4rem;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

      .form-close__btn {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url('../../resources/images/ico-close.png');
        background-position: center;
        background-size: 1.25rem;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
      }

      .my-list__input {
        width: 100%;
        font-size: 1.2rem;
        color: $black;
        letter-spacing: -0.05em;
        font-weight: normal;
        height: 3rem;
        line-height: 3rem;
        padding: 0 1rem;
        margin-bottom: 0.75rem;
        background-color: #efefef;
        outline: 0;
        border: 1px solid #aeaeae;
      }
      .my-list__textarea {
        width: 100%;
        font-size: 1.2rem;
        color: $black;
        letter-spacing: -0.05em;
        font-weight: normal;
        line-height: 1.5;
        height: calc(100% - 12rem);
        background-color: #efefef;
        outline: 0;
        border: 1px solid #aeaeae;
        padding: 1rem;
      }
      .my-list__submit {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $white;
        font-size: 1.3rem;
        letter-spacing: -0.05em;
        font-weight: normal;
        background-color: #2761dc;
        width: 100%;
        height: 4rem;
        line-height: 4rem;
      }
    }
  }

  /* Delete Modal */
  .delete__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.7);
    input {
      width: 100%;
      font-size: 1.2rem;
      color: $black;
      letter-spacing: -0.05em;
      font-weight: normal;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
      margin-bottom: 0.75rem;
      background-color: #efefef;
      outline: 0;
      border: 1px solid #aeaeae;
    }
    .modal__wrap {
      width: 20rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10rem;
      margin-top: -3.5rem;
      button {
        display: block;
        float: left;
        width: 50%;
        height: 4rem;
        line-height: 4rem;
        color: $white;
        font-size: 1.25rem;
        letter-spacing: -0.05em;
        font-weight: normal;
        &.ok__btn {
          background-color: #2761dc;
        }
        &.no__btn {
          background-color: #aeaeae;
        }
      }
    }
  }
}